<!DOCTYPE html>
<html lang="en">
<!-- Bootstrap core JavaScript -->
<script src="/views/vendor/jquery/jquery.min.js"></script>
<script src="/views/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="/views/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for this template -->
<head>
    <meta charset="utf-8">
    <!-- 화면 꽉채우기 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <title>HEY DUDE</title>
    <!-- Bootstrap core CSS -->
    <link href="/views/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/views/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/views/css/heydude.css" rel="stylesheet">
</head>
<body class="body-size">
<nav class="navbar navbar-dark bg-primary bar">
    <button type="button" onclick="PageToHome()" class="btn" style="border: none; color: white;">Hey Dude</button>
    <div>
        <button type="button" onclick="SignOut()" class="btn btn-outline-info my-2 my-sm-0" style="color: white">Sign Out</button>
    </div>
</nav>
<div class="content-scroll">
    <!--요안에만 채우시면됩니다.-->
    <br>
    <table style="table-layout: fixed">
        <tr style="text-align: center;">
            <td style="display: inline-flex;">
                <div class='tendency'>
                    <button type='button' class='btn' id="play" style= 'height: fit-content; color:white; background-color: #FFB6B9;'>play</button>
                </div>
                <div class='tendency' style="">
                    <button type='button' class='btn' id="culture"  style= 'height: fit-content; color:white; background-color: #FAE3D9;'>culture</button>
                </div>
                <div class='tendency' style="">
                    <button type='button' class='btn' id="study" style= 'height: fit-content; color:white; background-color: #BBDED6;'>study</button>
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class="form-group">
                    <select class="form-control" id="nationality" style="background-color: white; color: black;" name="nationality">
                        <option value="">Nationality</option>
                        <option value="south korean">South Korean</option>
                        <option value="american">American</option>
                        <option value="argentinean">Argentinean</option>
                        <option value="australian">Australian</option>
                        <option value="austrian">Austrian</option>
                        <option value="bangladeshi">Bangladeshi</option>
                        <option value="barbadian">Barbadian</option>
                        <option value="barbudans">Barbudans</option>
                        <option value="batswana">Batswana</option>
                        <option value="belgian">Belgian</option>
                        <option value="belizean">Belizean</option>
                        <option value="beninese">Beninese</option>
                        <option value="bosnian">Bosnian</option>
                        <option value="brazilian">Brazilian</option>
                        <option value="cambodian">Cambodian</option>
                        <option value="canadian">Canadian</option>
                        <option value="chinese">Chinese</option>
                        <option value="colombian">Colombian</option>
                        <option value="cuban">Cuban</option>
                        <option value="czech">Czech</option>
                        <option value="dominican">Dominican</option>
                        <option value="dutch">Dutch</option>
                        <option value="egyptian">Egyptian</option>
                        <option value="ethiopian">Ethiopian</option>
                        <option value="french">French</option>
                        <option value="german">German</option>
                        <option value="ghanaian">Ghanaian</option>
                        <option value="greek">Greek</option>
                        <option value="honduran">Honduran</option>
                        <option value="hungarian">Hungarian</option>
                        <option value="icelander">Icelander</option>
                        <option value="indian">Indian</option>
                        <option value="indonesian">Indonesian</option>
                        <option value="iranian">Iranian</option>
                        <option value="iraqi">Iraqi</option>
                        <option value="irish">Irish</option>
                        <option value="israeli">Israeli</option>
                        <option value="italian">Italian</option>
                        <option value="japanese">Japanese</option>
                        <option value="kazakhstani">Kazakhstani</option>
                        <option value="kenyan">Kenyan</option>
                        <option value="kuwaiti">Kuwaiti</option>
                        <option value="malaysian">Malaysian</option>
                        <option value="mexican">Mexican</option>
                        <option value="monacan">Monacan</option>
                        <option value="mongolian">Mongolian</option>
                        <option value="moroccan">Moroccan</option>
                        <option value="nepalese">Nepalese</option>
                        <option value="new zealander">New Zealander</option>
                        <option value="ni-vanuatu">Ni-Vanuatu</option>
                        <option value="nicaraguan">Nicaraguan</option>
                        <option value="nigerien">Nigerien</option>
                        <option value="northern irish">Northern Irish</option>
                        <option value="norwegian">Norwegian</option>
                        <option value="omani">Omani</option>
                        <option value="pakistani">Pakistani</option>
                        <option value="paraguayan">Paraguayan</option>
                        <option value="peruvian">Peruvian</option>
                        <option value="polish">Polish</option>
                        <option value="portuguese">Portuguese</option>
                        <option value="russian">Russian</option>
                        <option value="salvadoran">Salvadoran</option>
                        <option value="saudi">Saudi</option>
                        <option value="scottish">Scottish</option>
                        <option value="singaporean">Singaporean</option>
                        <option value="slovakian">Slovakian</option>
                        <option value="slovenian">Slovenian</option>
                        <option value="south korean">South Korean</option>
                        <option value="spanish">Spanish</option>
                        <option value="swedish">Swedish</option>
                        <option value="swiss">Swiss</option>
                        <option value="taiwanese">Taiwanese</option>
                        <option value="thai">Thai</option>
                        <option value="togolese">Togolese</option>
                        <option value="tongan">Tongan</option>
                        <option value="tunisian">Tunisian</option>
                        <option value="turkish">Turkish</option>
                        <option value="ugandan">Ugandan</option>
                        <option value="ukrainian">Ukrainian</option>
                        <option value="uruguayan">Uruguayan</option>
                        <option value="uzbekistani">Uzbekistani</option>
                        <option value="venezuelan">Venezuelan</option>
                        <option value="vietnamese">Vietnamese</option>
                    </select>
                </div>
            </td>
        </tr>
        <%
        if(profile=="") {%>
        <tr>
            <td>
                <div class="column" >
                    <div class='cardList'>
                        <h3>There is no registered users.</h3>
                    </div>
                </div>
            </td>
        </tr>
        <%}else{
            for(i in profile){%>
                <tr>
                    <td>
                        <div class="column" >
                            <div class='cardList'>
                                <div class='firstinfo'><span>
                                    <%if(profile[i].url==''){if(profile[i].sex=='male'){%>
                                        <img id="myimage" src="https://firebasestorage.googleapis.com/v0/b/hey-dude-da806.appspot.com/o/male.jpg?alt=media&token=234312ea-722f-4587-825e-64d91cab457e">
                                    <%}else{%>
                                        <img id="myimage" src="https://firebasestorage.googleapis.com/v0/b/hey-dude-da806.appspot.com/o/female.jpg?alt=media&token=0d5fa5b1-bb26-4e8b-a4dc-e5cceddfff32">
                                    <%}}else{%>
                                        <img id="myimage" src="<%=profile[i].url%>">
                                        <%}%>
                                    </span>

                                    <div class='profileinfo'>
                                        <h1><%=profile[i].userName%>
                                            <%if(profile[i].tendency=="play"){%>
                                                <div class='tendency' style="margin-left: 3%;">
                                                    <button type='button' class='btn' style= 'height: fit-content; color:white; background-color: #FFB6B9;'>play</button>
                                                </div>
                                            <%}else if(profile[i].tendency=="culture"){%>
                                                <div class='tendency' style="margin-left: 3%;">
                                                    <button type='button' class='btn' style= 'height: fit-content; color:white; background-color: #FAE3D9;'>culture</button>
                                                </div>
                                            <%}else if(profile[i].tendency=="study"){%>
                                                <div class='tendency' style="margin-left: 3%;">
                                                    <button type='button' class='btn' style= 'height: fit-content; color:white; background-color: #BBDED6;'>study</button>
                                                </div>
                                            <%}%>
                                        </h1>
                                        <h3><%=profile[i].age%>, <%=profile[i].nationality%>, <%=profile[i].sex%></h3>
                                        <p class='bio'><%=profile[i].introduce%></p>
                                        <button class='button' style='background-color: #7abaff' onclick="detail('<%=profile[i].userID%>')">Detail</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            <%}
        }%>
    </table>
</div>
<nav class="navbar navbar-light bar" style="background-color: #e3f2fd; justify-content: center;">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link mdi mdi-home" href="/home"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link mdi mdi-account-group active" href="/profile/community"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link mdi mdi-account-plus" href="/request/view"></a>
            <%if(requestcount>0){%>
            <span class="button__badge"><%=requestcount%></span>
            <%}%>
        </li>
        <li class="nav-item">
            <a class="nav-link mdi mdi-comment" href="/chat/chatRoom"></a>
            <%if(messagecount>0){%>
            <span class="button__badge"><%=messagecount%></span>
            <%}%>
        </li>
        <li class="nav-item">
            <a class="nav-link mdi mdi-account" href="/mypage"></a>
        </li>
    </ul>
</nav>

</body>
</html>
<script>
    function PageToHome() {
        location.href="/home"
    }
    function SignOut() {
        $.ajax({
            type:"GET",
            url: "/user/signout" ,
            data: {
            }
        }).done(function(result) {
            if (result) {
                location.replace('/signin');
            } else {
                location.reload();
            }
        });
    }
    function detail(friendID) {
        $.ajax({
            type:"POST",
            url: "/profile/detail" ,
            data: {
                friendID : friendID
            }
        }).done(function(result) {
            if (result) {
                location.href='/profile/view';
            } else {
                location.reload();
            }
        });
    }

    $("#play").click(()=>{
        location.href="/profile/play"
    })
    $("#culture").click(()=>{
        location.href="/profile/culture"
    })
    $("#study").click(()=>{
        location.href="/profile/study"
    })
    $("#nationality").change(function(){
        console.log('Selected value: ' + $(this).val());
        SortNationality($(this).val());
    });
    function SortNationality(nationality){
        $.ajax({
            type:"POST",
            url: "/profile/select" ,
            data: {
                nationality: nationality
            }
        }).done(function (result) {
            if(result){
                location.href = '/profile/nationality';
            } else {
                Location.reload();
            }
        });
    }
</script>
