<!DOCTYPE html>
<html lang="en">
<!-- Bootstrap core JavaScript -->
<script src="/views/vendor/jquery/jquery.min.js"></script>
<script src="/views/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="/views/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for this template -->
<head>
    <meta charset="utf-8">
    <!-- 화면 꽉채우기 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <title>HEY DUDE</title>
    <!-- Bootstrap core CSS -->
    <link href="/views/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/views/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/views/css/heydude.css" rel="stylesheet">
</head>
<body class="body-size">
    <nav class="navbar navbar-dark bg-primary bar">
        <button type="button" onclick="PageToHome()" class="btn" style="border: none; color: white;">Hey Dude</button>
        <div>
            <button type="button" onclick="SignOut()" class="btn btn-outline-success my-2 my-sm-0" style="border: none; color: white">Sign Out</button>
        </div>
    </nav>
    <div class="content-scroll">
        <div class="container">

            <div style="text-align: center">
                <button type="button" onclick="PageToGeneralBoard()" class="btn"><h3>General Forum</h3></button>
            </div>

        <table class="table table-hover" style="table-layout: fixed; border: 2px solid lightgrey;">
            <thead>
            <tr>
                <th width="15%">Update</th>
                <th width="35%">Title</th>
                <th width="20%">Author</th>
                <th width="17%">Date</th>
                <th width="13%">View</th>
            </tr>
            </thead>
            <tbody>

            <% if (generalBoard !== null){%>
            <%for(var i = generalBoard.length-1; i >= generalBoard.length-2; i--){ %>
                <% if(i<0)
                    break;%>
                <tr id='generalBoard' onclick="generalSubmit('<%= generalBoard[i]._id%>')" value="<%= generalBoard[i]._id%>">
                    <td><span class="badge badge-pill badge-info">New</span></td>
                    <td style="text-overflow: ellipsis; white-space:nowrap; overflow:hidden"><%= generalBoard[i].title%></td>
                    <td style="text-overflow: ellipsis; white-space:nowrap; overflow:hidden"><%= generalBoard[i].userName%></td>
                    <td><%= generalBoard[i].date%></td>
                    <td><%= generalBoard[i].view_num%></td>
                </tr>

            <% if(i<=0)
                break;
            } }%>

            </tbody>
        </table>

            <div style="text-align: center">
            <button type="button" onclick="PageToSemesterBoard()" class="btn" style="border: none; color: black;"><h3>Semester Forum</h3></button>
            </div>

            <table class="table table-hover" style="table-layout: fixed; border: 2px solid lightgrey;">
                <thead>
                <tr>
                    <th width="15%">Update</th>
                    <th width="35%">Title</th>
                    <th width="20%">Author</th>
                    <th width="17%">Date</th>
                    <th width="13%">View</th>
                </tr>
                </thead>
                <tbody>

                <% if (semesterBoard !== null){%>
                <%for(var i = semesterBoard.length-1; i >= semesterBoard.length-2; i--){ %>
                    <% if(i<0)
                        break;%>
                    <tr id='semesterBoard' onclick="semesterSubmit('<%= semesterBoard[i]._id%>')" value="<%= semesterBoard[i]._id%>">
                        <td><span class="badge badge-pill badge-info">New</span></td>
                        <td style="text-overflow: ellipsis; white-space:nowrap; overflow:hidden">[<%= semesterBoard[i].semester%>]<%= semesterBoard[i].title%></td>
                        <td style="text-overflow: ellipsis; white-space:nowrap; overflow:hidden"><%= semesterBoard[i].userName%></td>
                        <td><%= semesterBoard[i].date%></td>
                        <td><%= semesterBoard[i].view_num%></td>
                    </tr>


               <% } }%>

                </tbody>
            </table>

            <div style="text-align: center">
            <button type="button" onclick="PageToHelpBoard()" class="btn" style="border: none; color: black;"><h3>Help Forum</h3></button>
            </div>

            <table class="table table-hover" style="table-layout: fixed; border: 2px solid lightgrey;">
                <thead>
                <tr>
                    <th width="15%">Update</th>
                    <th width="35%">Title</th>
                    <th width="20%">Author</th>
                    <th width="17%">Date</th>
                    <th width="13%">View</th>
                </tr>
                </thead>
                <tbody>

                <% if (helpBoard !== null){%>
                <%for(var i = helpBoard.length-1; i >= helpBoard.length-3; i--){ %>
                    <% if(i<0)
                        break;%>
                    <tr id='helpBoard' onclick="helpSubmit('<%= helpBoard[i]._id%>')" value="<%= helpBoard[i]._id%>">
                        <td><span class="badge badge-pill badge-info">New</span></td>
                        <td style="text-overflow: ellipsis; white-space:nowrap; overflow:hidden"><%= helpBoard[i].title%></td>
                        <td style="text-overflow: ellipsis; white-space:nowrap; overflow:hidden"><%= helpBoard[i].userName%></td>
                        <td><%= helpBoard[i].date%></td>
                        <td><%= helpBoard[i].view_num%></td>
                    </tr>

                <% if(i<=0)
                    break;
                } }%>

                </tbody>
            </table>
        <hr/>

<!--요안에만 채우시면됩니다.-->
        </div>
    </div>
    <nav class="navbar navbar-light bar" style="background-color: #e3f2fd; justify-content: center">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link mdi mdi-home active" href="/home"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link mdi mdi-account-group" href="/profile/community"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link mdi mdi-account-plus" href="/request/view"></a>
                <%if(requestcount>0){%>
                <span class="button__badge"><%=requestcount%></span>
                <%}%>
            </li>
            <li class="nav-item">
                <a class="nav-link mdi mdi-comment" href="/chat/chatRoom"></a>
                <%if(messagecount>0){%>
                <span class="button__badge"><%=messagecount%></span>
                <%}%>
            </li>
            <li class="nav-item">
                <a class="nav-link mdi mdi-account" href="/mypage"></a>
            </li>
        </ul>
    </nav>

</body>
</html>
<script>

    function PageToHome() {
        location.href="/home"
    }
    function SignOut() {
        $.ajax({
            type:"GET",
            url: "/user/signout" ,
            data: {
            }
        }).done(function(result) {
            if (result) {
                location.replace('/signin');
            } else {
                location.reload();
            }
        });
    }
    function PageToGeneralBoard(){
        $.ajax({
            type:"GET",
            url: "/home/generalBoard/1" ,
            data: {
            }
        }).done(function(result) {
            if(result){
                location.href="/home/generalBoard/1"
            }
        });
    }
    function PageToSemesterBoard(){
        $.ajax({
            type:"GET",
            url: "/home/semesterBoard/1" ,
            data: {
            }
        }).done(function(result) {
            if(result){
                location.href="/home/semesterBoard/1"
            }
        });
    }
    function PageToHelpBoard(){
        $.ajax({
            type:"GET",
            url: "/home/helpBoard/1" ,
            data: {
            }
        }).done(function(result) {
            if(result){
                location.href="/home/helpBoard/1"
            }
        });
    }
    $(document).on("click", "#board1", function(e){
        console.log(e.currentTarget.value);
        submit(e.currentTarget.value);
    })
    function generalSubmit(id) {
        $.ajax({
            type:"GET",
            url: "/home/generalBoard" ,
            data: {
                id:id
            }
        }).done(function(result) {
            if(result=='1'){
                location.href="/home/generalSetboard"
            }
        });
    }
    function semesterSubmit(id) {
        $.ajax({
            type:"GET",
            url: "/home/semesterBoard" ,
            data: {
                id:id
            }
        }).done(function(result) {
            if(result=='1'){
                location.href="/home/semesterSetboard"
            }
        });
    }
    function helpSubmit(id) {
        $.ajax({
            type:"GET",
            url: "/home/helpBoard" ,
            data: {
                id:id
            }
        }).done(function(result) {
            if(result=='1'){
                location.href="/home/helpSetboard"
            }
        });
    }
</script>
