<!DOCTYPE html>
<html lang="en">
<!-- Bootstrap core JavaScript -->
<script src="/views/vendor/jquery/jquery.min.js"></script>
<script src="/views/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="/views/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for this template -->
<head>
    <meta charset="utf-8">
    <!-- 화면 꽉채우기 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <title>HEY DUDE</title>
    <!-- Bootstrap core CSS -->
    <link href="/views/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/views/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/views/css/heydude.css" rel="stylesheet">
</head>
<body class="body-size">
<nav class="navbar navbar-dark bg-primary bar">
    <button type="button" onclick="PageToHome()" class="btn" style="border: none; color: white;">Hey Dude</button>
    <div>
        <button type="button" onclick="SignOut()" class="btn btn-outline-info my-2 my-sm-0" style="color: white">Sign Out</button>
    </div>
</nav>
<div class="content-scroll">
    <!--요안에만 채우시면됩니다.-->
    <div class="container" >
        <div class="page-header" style="position: relative; overflow: hidden;">
            <br>
            <h2 align="center">My Profile</h2>
            <hr>
        </div>
        <div class='card'>
            <div class='profileCard'>
                <table class="firstLine">
                <%if(profile.active){%>
                    <td class="custom-control custom-switch" style="margin-left: 3%; margin-right: 3%; margin-top: 2px; display: flex;" >
                        <input type="checkbox" class="custom-control-input" checked id="active" name="active">
                        <label class="custom-control-label" for="active" id="activeval">active</label>
                    </td>
                <%}else{%>
                    <td class="custom-control custom-switch" style="margin-left: 3%; margin-right: 3%; margin-top: 2px; display: flex" >
                        <input type="checkbox" class="custom-control-input"  id="active" name="active">
                        <label class="custom-control-label" for="active" id="activeval" name="inactive">inactive</label>
                    </td>
                <%}%>
                <td style="text-align: right">
                    <button type='button' id="edit" class='btn btn-info'>Edit</button>
                </td>
                </table>
                <hr>
                <div class='myprofileinfo' >
                    <div class='userFace'>
                        <img src='https://s3.amazonaws.com/uifaces/faces/twitter/mrvanz/128.jpg'/>
                    </div>
                    <%if(profile.tendency=="play"){%>
                        <div class='tendency' style="margin-left: 3%;">
                            <button type='button' class='btn' style= 'height: fit-content; color:white; background-color: #FFB6B9;'>play</button>
                        </div>
                    <%}else if(profile.tendency=="culture"){%>
                        <div class='tendency' style="margin-left: 3%;">
                            <button type='button' class='btn' style= 'height: fit-content; color:white; background-color: #FAE3D9;'>culture</button>
                        </div>
                    <%}else if(profile.tendency=="study"){%>
                        <div class='tendency' style="margin-left: 3%;">
                            <button type='button' class='btn' style= 'height: fit-content; color:white; background-color: #BBDED6;'>study</button>
                        </div>
                    <%}%>
                    <hr>
                    <div class='profileinfo'>
                        <h1>
                            <%=profile.userName%>
                        </h1>
                        <h3><table>
                            <tr><th>Age</th>
                                <td><%=profile.age%></td></tr>
                            <tr><th>Gender</th>
                                <td><%=profile.sex%></td></tr>
                            <tr><th>Nationality</th>
                                <td><%=profile.nationality%></td></tr>
                            <tr><th>Major</th>
                                <td><%=profile.major%></td></tr>
                            </table></h3>
                    </div>
                </div>
                    <div class="specific">
                    <br>
                    <div style="font-weight: bold;">
                        <label>language</label>
                    </div>
                    <div class="form-group">
                        <p class='bio'><%=profile.language[0]%>  <%=profile.level[0]%></p>
                        <p class='bio'><%=profile.language[1]%>  <%=profile.level[1]%></p>
                        <p class='bio'><%=profile.language[2]%>  <%=profile.level[2]%></p>
                    </div>
                    <div style="font-weight: bold;">
                        <label>Interest</label>
                    </div>
                    <div class="form-group">
                        <p class='bio'><%=profile.interest%></p>
                    </div>
                    <div style="font-weight: bold;">
                        <label>Hate</label>
                    </div>
                    <div class="input-group">
                        <p class='bio'><%=profile.hate%></p>
                    </div>
                    <div style="font-weight: bold;">
                        <label>What to do with</label>
                    </div>
                    <div class="input-group">
                        <p class='bio'><%=profile.wish%></p>
                    </div>
                    <div style="font-weight: bold;">
                        <label>Introduce</label>
                    </div>
                    <div class="input-group">
                        <p class='bio'><%=profile.introduce%></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-light bar" style="background-color: #e3f2fd; justify-content: center;">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link mdi mdi-home" href="/home"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link mdi mdi-account-group" href="/userList"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link mdi mdi-account-plus" href="/userAdd"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link mdi mdi-comment" href="/chatList"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link mdi mdi-account" href="/mypage"></a>
        </li>
    </ul>
</nav>
</body>
</html>
<script>
    function PageToHome() {
        location.href="/home"
    }
    function SignOut() {
        $.ajax({
            type:"GET",
            url: "/user/signout" ,
            data: {
            }
        }).done(function(result) {
            if (result) {
                location.replace('/signin');
            } else {
                location.reload();
            }
        });
    }

    $('#active').on("click", function()
    {
        if($('#active').is(':checked')==true){
            var msg = "active";
            $("#activeval").html(msg);
        }else{
            var msg = "inactive"
            $("#activeval").html(msg);
        }
    })

    $('#edit').on("click", function () {
        location.href="edit"
    })
</script>
