<!DOCTYPE html>
<html lang="en">
<!-- Bootstrap core JavaScript -->
<script src="/views/vendor/jquery/jquery.min.js"></script>
<script src="/views/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="/views/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for this template -->
<head>
    <meta charset="utf-8">
    <!-- 화면 꽉채우기 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <title>HEY DUDE</title>
    <!-- Bootstrap core CSS -->
    <link href="/views/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/views/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/views/css/heydude.css" rel="stylesheet">
</head>
<body class="body-size">
<nav class="navbar navbar-dark bg-primary bar">
    <button type="button" onclick="PageToHome()" class="btn" style="border: none; color: white;">Hey Dude</button>
    <div>
        <button type="button" onclick="SignOut()" class="btn btn-outline-info my-2 my-sm-0" style="color: white">Sign Out</button>
    </div>
</nav>
<div class="content-scroll">
    <div class="column">
        <table id="table">
            <%
            if(request=="") {%>
                <tr>
                    <td>
                        <div class="column" >
                            <div class='cardList'>
                                <h3>There is no request.</h3>
                            </div>
                        </div>
                    </td>
                </tr>
            <%}else{
                    for(i in request){%>
            <tr>
                <td>
                    <div class="column" >
                        <div class='cardList'>
                            <div class='firstinfo'>
                                <%if(request[i].url==''){%>
                                    <img id="myimage" src="https://firebasestorage.googleapis.com/v0/b/hey-dude-da806.appspot.com/o/male.jpg?alt=media&token=234312ea-722f-4587-825e-64d91cab457e">
                                <%}else{%>
                                <img id="myimage" src="<%=request[i].url%>">
                                <%}%>
                                <div class='profileinfo'>
                                    <h1><%=request[i].userName%>
                                        <%if(request[i].tendency=="play"){%>
                                            <div class='tendency' style="margin-left: 3%;">
                                                <button type='button' class='btn' style= 'height: fit-content; color:white; background-color: #FFB6B9;'>play</button>
                                            </div>
                                        <%}else if(request[i].tendency=="culture"){%>
                                            <div class='tendency' style="margin-left: 3%;">
                                                <button type='button' class='btn' style= 'height: fit-content; color:white; background-color: #FAE3D9;'>culture</button>
                                            </div>
                                        <%}else if(request[i].tendency=="study"){%>
                                            <div class='tendency' style="margin-left: 3%;">
                                                <button type='button' class='btn' style= 'height: fit-content; color:white; background-color: #BBDED6;'>study</button>
                                            </div>
                                        <%}%>
                                    </h1>
                                    <h3><%=request[i].age%>, <%=request[i].nationality%>, <%=request[i].sex%></h3>
                                    <button class='button' style='background-color: #7abaff' onclick="detail('<%=request[i].userID%>')">Detail</button>
                                    <button class='button' style='background-color: #64E291' onclick="accept('<%=request[i].userID%>','<%=request[i].userName%>',<%=request[i].url%>)">Accept</button>
                                    <button class='button' style='background-color: #EB7070' onclick="decline('<%=request[i].userID%>')">Decline</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <%}
            }%>
        </table>
    </div>
</div>
<nav class="navbar navbar-light bar" style="background-color: #e3f2fd; justify-content: center;">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link mdi mdi-home" href="/home"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link mdi mdi-account-group" href="/profile/community"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link mdi mdi-account-plus" href="/request/view"></a>
            <%if(requestcount>0){%>
            <span class="button__badge"><%=requestcount%></span>
            <%}%>
        </li>
        <li class="nav-item">
            <a class="nav-link mdi mdi-comment" href="/chat/chatRoom"></a>
            <%if(messagecount>0){%>
            <span class="button__badge"><%=messagecount%></span>
            <%}%>
        </li>
        <li class="nav-item">
            <a class="nav-link mdi mdi-account" href="/mypage"></a>
        </li>
    </ul>
</nav>

</body>
</html>
<script>
    setTable()
    function PageToHome() {
        location.href="/home"
    }
    function SignOut() {
        $.ajax({
            type:"GET",
            url: "/user/signout" ,
            data: {
            }
        }).done(function(result) {
            if (result) {
                location.replace('/signin');
            } else {
                location.reload();
            }
        });
    }
    function detail(friendID) {
        $.ajax({
            type:"POST",
            url: "/profile/detail" ,
            data: {
                friendID : friendID
            }
        }).done(function(result) {
            if (result) {
                location.href='/profile/view/request';
            } else {
                location.reload();
            }
        });
    }

    function accept(friendID,friendName,url) {
        $.ajax({
            type:"POST",
            url: "/request/accept",
            data: {
                friendID : friendID,
                friendName : friendName,
                friendurl : url
            }
        }).done(result=>{
            location.reload()
        })
    }
    function decline(friendID) {
        $.ajax({
            type:"POST",
            url: "/request/decline",
            data: {
                friendID : friendID
            }
        }).done(result=>{
            location.reload()
        })
    }

</script>

